.alphaLetter {
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #445262;
  cursor: pointer;
  transition: all 0.3s ease;
}
.alphaLetter:hover {
  transform: translateY(-2px) translateX(1.5px);
}
